# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Local NetEyes files
.neteyes/
cookies/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
